* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
  }

  .pictures{
    width: 100%;
  }

  .pictures img {
    width: 300px;
    padding: 10px;
  }