*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
  }

  .third{
    background-color: #fdfdfd;
    width: 90%;
    margin: auto;
  }

  .third-two{
    background-color: #5183b8;
  }

  .gallery31{
    display: flex;
  }